<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/pages/dashboard.css" />
    <link rel="icon" href="/images/vector-logo.ico" />
    <title>Главная</title>
  </head>
  <body>
    <div class="burger-mini-button">
      <img class="burger-dashes" src="../images/burger-dashes.svg" alt="menu" />
    </div>

    <section class="financial-data-block">
      <div class="data-main-block">
        <div class="complex-label-block">
          <p class="budget-label">Бюджет на месяц</p>
          <img
            class="edit-pencil"
            id="budget_module_opener"
            src="../images/pencil-white.svg"
            alt="pencil-icon"
          />
        </div>
        <p
          class="<%- budgetClass%>"
          id="month_budget_number"
          data-tooltip="<%- monthBudgetTooltip %>"
        >
          <%- monthBudget %>
        </p>
      </div>
      <div class="data-main-block">
        <div class="complex-label-block">
          <p class="expences-label">Ежемесячные расходы</p>
          <img
            class="edit-pencil"
            id="outcomes_module_opener"
            src="../images/pencil-white.svg"
            alt="pencil-icon"
          />
        </div>
        <p
          class="label-number <%- expencesModClass %>"
          data-tooltip="<%- monthExpencesTooltip %>"
        >
          <%- outcomePerMonth %>
        </p>
      </div>
      <div class="data-main-block">
        <p class="goal-label">Планируемые накопления</p>
        <p class="label-number"><%- financialGoals %></p>
      </div>
      <div class="data-main-block">
        <p class="free-finances-label">Свободные финансы</p>
        <p class="label-number"><%- freeFinances %></p>
      </div>
    </section>

    <menu class="burger-menu" id="side_menu">
      <div class="logo-header logo-side-header">
        <section class="menu-header-section">
          <div class="logo-section logo-side-section">
            <img
              class="kopilko-logo-img"
              src="../images/vector-logo.svg"
              alt="logo"
            />
            <p class="kopilko-logo-text">KOPILKO</p>
          </div>

          <div class="burger-dashes-header">
            <img
              class="dashes-icon"
              src="../images/burger-dashes.svg"
              alt="menu"
            />
          </div>
        </section>
        <nav>
          <div
            class="navigation-string"
            onclick="window.location.replace('/dashboard')"
          >
            <p>Главная</p>
          </div>
          <div
            class="navigation-string"
            onclick="window.location.replace('/profile')"
          >
            <p>Профиль</p>
          </div>
        </nav>
      </div>
      <button class="logout">Выйти</button>
    </menu>

    <section>
      <a href="/dashboard">
        <div class="logo-section">
          <img
            class="kopilko-logo-img"
            src="../images/vector-logo.svg"
            alt="logo"
          />
          <p class="kopilko-logo-text">KOPILKO</p>
        </div>
      </a>
    </section>

    <module class="exit hidden">
      <div class="window-exit">
        <p class="exit-question">Вы уверены, что хотите выйти?</p>
        <div class="exit-choose">
          <button class="exit-btn-choose btn-yes" id="exit_ok">Выйти</button>
          <button class="exit-btn-choose btn-no" id="exit_cancel">
            Отмена
          </button>
        </div>
      </div>
    </module>

    <module class="budget-module hidden">
      <div class="window-budget">
        <p class="budget-module-text">Бюджет на месяц</p>
        <div class="input-block">
          <input
            type="text"
            name="value"
            id="budget_input"
            value="<%- monthBudgetInput %>"
          />
          <p id="currency-label-budget">₽</p>
        </div>
        <p class="hidden" id="budget_warning">
          - Поле "Бюджет" может содержать только цифры
        </p>
        <div class="budget-choose">
          <button class="budget-btn-choose budget-yes" id="budget_save">
            Сохранить
          </button>
          <button class="budget-btn-choose budget-no" id="budget_cancel">
            Отмена
          </button>
        </div>
      </div>
    </module>
    <module class="outcomes-module hidden">
      <div class="window-outcomes">
        <p class="outcomes-module-text">Ежемесячные расходы</p>
        <div class="outcome-main-labels">
          <p class="name-label">Наименование</p>
          <p class="value-label">Сумма</p>
        </div>
        <div class="outcomes-scroller-block"><%- outcomePerMonthInput %></div>
        <img id="add_outcome" src="../images/Plus.svg" alt="plus_icon" />
        <p class="outcome-warning only-numbers hidden">
          - Поле «Сумма» может содержать только цифры
        </p>
        <div class="outcome-choose">
          <button
            class="outcome-btn-choose outcome-yes"
            id="outcome_save"
            disabled="yes"
          >
            Сохранить
          </button>
          <button class="outcome-btn-choose outcome-no" id="outcome_cancel">
            Отмена
          </button>
        </div>
      </div>
    </module>
    <script src="../scripts/logoutScript.js"></script>
    <script src="../scripts/burgerBar.js"></script>
    <script src="../scripts/dashboard.js"></script>
  </body>
</html>
